<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>CodeOperate</title>
<meta name="viewport" content="width=device-width,initial-scale=1" />

<!-- CodeMirror styles -->
<link rel="stylesheet" href="<%- cfg.path.cmLib %>codemirror.css" />

<% for (let t = 1; t < cfg.cmTheme.length; t++) { %>
  <link rel="stylesheet" href="<%- cfg.path.cmTheme %><%- cfg.cmTheme[t] %>.css" />
<% } %>

<!-- main styles -->
<link rel="stylesheet" href="/css/main.css" />
</head>
<body>

<header>

  <h1><a href="/">CodeOperate</a></h1>

  <input type="text" id="title" value="<%= edit.title %>" title="title" required />

  <select id="mode" title="mode">
  <% for(const m in cfg.cmMode) { %>
    <option value="<%- cfg.cmMode[m] %>"<% if (edit.mode === cfg.cmMode[m]) { %> selected<% } %>><%- m %></option>
  <% } %>
  </select>

  <select id="theme" title="theme" class="jsshow">
  <% cfg.cmTheme.forEach(t => { %>
    <option value="<%- t %>"><%- t %></option>
  <% }) %>
  </select>

  <a href="/new" class="button jsshow">new</a>

</header>

<main id="editor">

  <pre id="code" class="jshide"><%= edit.code %></pre>

</main>

<aside>

  <input type="text" id="operator" value="operator" title="your name" minlength="1" maxlength="15" required />

  <p id="updated" class="jshide">updated: <time><%= edit.updated %></time></p>
  <p id="created">created: <time><%= edit.created %></time></p>

</aside>

<!-- CodeMirror scripts -->
<script src="<%- cfg.path.cmLib %>codemirror.js" defer></script>

<% for(const m in cfg.cmMode) { %>
  <script src="<%- cfg.path.cmMode %><%- cfg.cmMode[m] %>/<%- cfg.cmMode[m] %>.js" defer></script>
<% } %>

<!-- main script -->
<script type="module">
window.cfg = {
  wsURL   : 'ws://<%- cfg.hostname %>:<%- cfg.portWS %>',
  editId  : '<%- edit._id %>',
  mode    : '<%- edit.mode %>',
  saveWait: <%- cfg.saveWait %>
};
</script>
<script type="module" src="./js/main.js"></script>
</body>
</html>
