<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>CodeOperate</title>
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="stylesheet" href="/css/main.css" />
</head>
<body>

  <header>

    <h1><a href="/">CodeOperate</a></h1>

    <a href="/new" class="button">new</a>

  </header>

  <main>

    <% if (recent && recent.length) { %>
      <ol id="recent">
        <% recent.forEach(r => { %>
          <li><a href="/<%- r._id %>">
            <h2><%- r.title %></h2>
            <p><%- r.mode %></p>
            <p>updated: <%- r.updated %></p>
            <p>created: <%- r.created %></p>
          </a></li>
        <% }) %>
      </ol>
    <% } %>

  </main>

</body>
</html>
