<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>CodeOperate</title>
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="stylesheet" href="/css/main.css" />
</head>
<body>

  <header class="full">

    <h1>CodeOperate</h1>

    <a href="/new" class="button">new</a>

  </header>

  <main class="full">

    <% if (recent && recent.length) { %>
      <ol id="recent">
        <% recent.forEach(r => { %>
          <li><a href="/<%- r._id %>">
            <h2><%- r.title %></h2>
            <p class="mode"><%- cfg.cmMode[r.mode] %></p>
            <p class="time">updated <time><%- r.updated %></time></p>
            <p>created <time><%- r.created %></time></p>
          </a></li>
        <% }) %>
      </ol>
    <% } %>

  </main>

</body>
</html>
